*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

.border_red{
    border: 2px solid red;
}

.border_green{
    border: 2px solid green;
}

.border_blue{
    border: 2px solid blue;
}        

/* Hero Section CSS */
.heading{
    margin-top: 80px;
    /* margin-left: 145px; */
}
.spacing{
    margin-top: 50px;
    margin-bottom: 50px;
}


#data{
    font-size: 25px;
}

#unleash{
    font-size: 70px;
    font-weight: 700;
}




/* Icons Section*/
.ftco-section {
    padding: 3em 0;
    position: relative;
    background-color: rgb(235, 233, 233);
}
.img-fluid-m{
    height: auto !important;
    width: 120px;
}

/* Cards Section CSS */
.m-card{
    border: 1px solid lightgrey;
    width: 22rem;
    padding: 20px;
}
#journey{
    /* margin-top: 50px;     */
    margin-bottom: 50px;    
    font-size: 45px;
    font-weight: 700;
}

.justify{
    text-align: justify;
}

/* Get Started CSS */
#getnow{
    float: right;
    font-weight: bold;
    font-size: 17px;
}
/* Footer CSS */
.m-border-right{
    border-right: 1px solid white;
}
/* Media Query */
@media screen and (max-width: 480px) {
    #unleash{
        font-size: 39px;
    }
    .m-card{        
        width: 100%;
        padding: 20px;        
    }
    p.card-text{
        text-align: left;
    }
    #getnow{
        width: 100%;
    }
    .m-border-right{
        border: none;
    }
    #journey{
        font-size: 35px;
    }    

  }